<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711022851722-fvcm6ga9q69snk44a8ni8pt6h0kg8qg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711022851722-fvcm6ga9q69snk44a8ni8pt6h0kg8qg3</string>
	<key>API_KEY</key>
	<string>AIzaSyD-UarXfo7LRvxG5wWoBl1JFLrpf431Cho</string>
	<key>GCM_SENDER_ID</key>
	<string>711022851722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.batruHouseRental</string>
	<key>PROJECT_ID</key>
	<string>rentalhouse-51d20</string>
	<key>STORAGE_BUCKET</key>
	<string>rentalhouse-51d20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711022851722:ios:de79085f410a7f4b739f73</string>
	<key>DATABASE_URL</key>
	<string>https://rentalhouse-51d20-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>